{% extends "base.html" %}

{% block categories -%}
    <article class="flex flex-auto items-center ph4">

        <h1 class="f2 light-blue tracked-tight ttc tr w5">Categories</h1>

        <h1 class="f2 mh4 silver tl"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></h1>

        {% macro show_elm(color, category) %}
            <h1 class="f2 lh-title tracked-tight ttc pa1 mr4 ma0">
                <a class="link dim {{ color }}"
                   href="{{ url_for('home.show_category', category_slug=category.slug) }}">
                    {{ category.name }}
                </a>
            </h1>
        {% endmacro %}

        {% for c in all_categories -%}

            {% if category and category.name == c.name %}
                {{ show_elm('light-red', c) }}
            {% elif category and category.name != c.name %}
                {{ show_elm('gray', c) }}
            {% else %}
                {{ show_elm('white', c) }}
            {% endif %}

        {%- endfor %}

    </article>
{%- endblock %}

