{% extends "home/index.html" %}

{% block category_items -%}

    <article class="flex flex-wrap items-center justify-between ph4 mb3">

        {% for i in category.items -%}

            {% macro show_elm(color) %}
                <h1 class="f4 lh-solid tracked-tight ttc pa1 mr4 ma0">
                    <a class="link dim {{ color }}"
                       href="{{ url_for('home.show_item', category_slug=category.slug, item_slug=i.slug) }}">
                        {{ i.title }}
                    </a>
                </h1>
            {% endmacro %}

            {% if item and item.title == i.title %}
                {{ show_elm('light-green') }}
            {% elif item and item.title != i.title %}
                {{ show_elm('gray') }}
            {% else %}
                {{ show_elm('near-white') }}
            {% endif %}

        {%- endfor %}

    </article>
{%- endblock %}