<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Catalog App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-white">

<header class="bg-black pv3 mb5 bb b--light-silver bw2">
    <nav class="item mw9 ph4 center white">
        <div class="mh3 pv3">
            <a class="f2 lh-title fw8 link dim ttu tracked-mega b white"
               href="{{ url_for('home.show_categories') }}"
               title="Home">Catalog App</a><!--
         --><a class="link fr dim ttu tracked b light-red ml4" href="#" title="Login">Login</a><!--
         --><a class="link fr dim ttu tracked b white ml3" href="#" title="Items">Items</a>
        </div>
    </nav>
</header>

<main class="flex flex-wrap items-start mw9 ph4 center">

    {% import 'macros.html' as macros %}
    <section class="w-30">
        <aside>
            {{ macros.content_heading('Latest') }}
            {% for item in latest_items %}
                {{ macros.show_item(item, with_category=True) }}
            {% endfor %}
        </aside>
    </section>

    <section class="w-70 pl4">
        {% block content %}
        {% endblock %}
    </section>

</main>

<footer class="bg-black pv6 mt6 black-70 center bt b--light-silver bw2">
    <div class="mw9 ph3 ph4-ns center">
        <a href="mailto:" class="link b f3 f2-ns dim white lh-solid">dev@kevinlazich.com</a>
        <p class="f6 db b ttu white-70 lh-solid">© 2017 Kevin Lazich</p>
    </div>
</footer>

</body>
</html>