<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Catalog App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=
                                                                        |Inconsolata:400,700
                                                                        |Playfair+Display:400,400i,700,700i,900,900i
                                                                        |Raleway:400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-near-black">

<header class="ph4 center">
    {% include 'base/header.html' %}
    {% include 'base/nav.html' %}
</header>

<main class="center min-vh-100 pa4">
    <div class="mw9 center mt4">
        <section id="content" class="white">
            {% block content_1 %}{% endblock %}
            {% block content_2 %}{% endblock %}
            {% block content_3 %}{% endblock %}
        </section>
    </div>
</main>

{% include 'base/footer.html' %}

</body>
</html>