<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Catalog App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Roboto+Slab:400,
                                700|Roboto:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-near-black">

{% include 'base/header.html' %}

<main class="center min-vh-100 pa4">

    {% include 'base/nav.html' %}

    <div class="mw9 center">
        <section id="content" class="white">
            {% block content_1 %}{% endblock %}
            {% block content_2 %}{% endblock %}
            {% block content_3 %}{% endblock %}
        </section>
    </div>
</main>

{% include 'base/footer.html' %}

</body>
</html>