{% extends "base.html" %}
{% block content %}
    {% for category in categories %}
        <div class="fl w-50 w-third-m w-25-ns pa2">
            <article class="center mw6 hidden ba b--silver">
                <h1 class="f4 bg-silver near-black ttc mv0 pv2 ph3">{{ category.name }}</h1>
                <div class="ph2 bt b--silver">
                    <ul class="list pl1">
                        {% for item in category.items %}
                            <li class="f6 lh-copy dib mr2 mb1 pa1 ba b--black-20">{{ item.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    {% endfor %}0
{% endblock %}