{% extends "base.html" %}
{% block content %}
    {% for category in categories %}
        <article class="fl w-100 center mv4">
            <header class="fn fl-ns">
                <h2 class="f1 ttc tracked-tight near-black mv2 mh4">
                    {{ category.name }}
                </h2>
            </header>
            <ul class="list pa0 ma0 tj">
                {% for item in category.items %}
                    <li class="f7 code lh-solid dib ma1 pa2 ba br1 b--none bg-moon-gray">{{ item.title }}</li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
{% endblock %}
{% block latest %}
    <article class="fl w-100 center mv4">
        <div class="list pa0 ma0 tc">
            {% for item in ["A", "Black", "Jack", "Absinthe", "Bee's", "Knees", "Brandy", "Alexander", "Corn", "N'", "Oil", "Cuba", "Libre", "Derby", "Earthquake", "Gin", "and", "tonic", "Glowtini", "Hanky-Panky", "Jungle", "Juice", "Kasiri", "Kir", "Royal", "Mezcal", "Mimosa", "My", "Fair", "Lady", "Orgasm", "Ouzo", "Palm", "wine", "RakÄ~+mn~", "Rob", "Roy", "Sidecar", "Williamine", "Wolfram", "Wolfram", "Woo", "Woo"] %}
                <span class="f7 code dib ma1 pa2 ba br1 b--none bg-moon-gray">{{ item }}</span>
            {% endfor %}
        </div>
    </article>
{% endblock %}
