{% extends "base.html" %}
{% block content %}
    {% for category in categories %}
        <article class="fl w-100 center mv4">
            <header class="fn fl-ns">
                <h2 class="f-subheadline lh-solid ttc tracked-tight near-black pl2 pr3 pv2 ma0 ba b--none bw2">
                    {{ category.name }}
                </h2>
            </header>
            <ul class="list pa0 ma0 tc">
                {% for item in category.items %}
                    <li class="f7 bg-animate bg-washed-green hover-bg-gray br1 lh-solid code ttu tracked b hover-washed-green gray dib mb1 pa2">{{ item.title }}</li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
{% endblock %}
{% block latest %}
    <article class="fl w-100 center mv4">
        <div class="list pa0 ma0 tc">
            {% for item in ["A", "Black", "Jack", "Absinthe", "Bee's", "Knees", "Brandy", "Alexander", "Corn", "N'", "Oil", "Cuba", "Libre", "Derby", "Earthquake", "Gin", "and", "tonic", "Glowtini", "Hanky-Panky", "Jungle", "Juice", "Kasiri", "Kir", "Royal", "Mezcal", "Mimosa", "My", "Fair", "Lady", "Orgasm", "Ouzo", "Palm", "wine", "RakÄ~+mn~", "Rob", "Roy", "Sidecar", "Williamine", "Wolfram", "Wolfram", "Woo", "Woo"] %}
                <span class="f7 dim bg-washed-blue lh-solid code ttu tracked b gray dib mb1 pa2">{{ item }}</span>
            {% endfor %}
        </div>
    </article>
{% endblock %}
