{% extends 'create_category.html' %}
{% block content %}


    <form action="{{ url_for('create.create_item', category_slug=category.slug) }}"
          method="post"
          class="flex flex-column mw6">

        {{ form.hidden_tag() }}

        <div class="flex flex-column">
            <h6 class="f6 ttu tracked pv1 ph3 bg-white-10 mb0">category</h6>
            <h2 class="serif f3 ttc near-black b--none bg-green pa3 mv0 h3">{{ category.name }}</h2>
        </div>

        <div class="flex flex-column">
            <h6 class="f6 ttu tracked pv1 ph3 bg-white-10 mb0">Item Name</h6>
            {{ form.name(class="code f3 ttc near-black b--none bg-light-green pa3 h3") }}
        </div>

        <div class="flex flex-column">
            <h6 class="f6 ttu tracked pv1 ph3 bg-white-10 mb0">Item Description</h6>
            {{ form.description(class="code f4 near-black b--none bg-light-green pa3 h5") }}
        </div>

        {{ form.submit(class="dim bg-white-10 white f5 b ttu tracked pv3 ph4 mt5 b--none br2 pointer") }}


    </form>

{% endblock %}