{% extends 'base.html' %}
{% block content %}

    <h2 class="f2 ttc lh-title tracked-tight white ph3 pv2 mt5 bl b--white-10 bw4">New Item</h2>

    <form action="{{ url_for('create.create_item') }}"
          method="post"
          class="flex flex-column mw6">

        {{ form.hidden_tag() }}

        {% block fields %}

            <div class="flex flex-column">
                <h6 class="f6 ttu tracked pv1 ph3 bg-white-10 mb0">select category</h6>
                {{ form.categories(class="code f3 ttc near-black b--none bg-light-green ph3 h3") }}
                <h1 class="f2 ttu tracked near-white b pa3 mh4 mv0 center">or</h1>
                <h6 class="f6 ttu tracked pv1 ph3 bg-white-10 mv0">create a new category</h6>
                {{ form.new_category(class="code f3 ttc near-black b--none bg-light-green pa3 h3") }}
            </div>

        {% endblock %}


        {{ form.submit(class="dim bg-white-10 white f5 b ttu tracked pv3 ph4 mt5 b--none br2 pointer") }}

    </form>

{% endblock %}