{% block latest %}
    <h1 class="f1 ttu tracked-mega white tc ">Latest<br>Items</h1>

    <article class="ma3">
        {% for item in latest_items %}
            <div class="flex items-center bg-animate bg-white hover-bg-gray hover-white gray pa2 mt1 br1 h2">

                <div class="f7 ttu tracked code b ml2 ma1">
                    <a>{{ item.title }}</a>
                </div>

                <div class="f7 bg-light-blue hover-bg-blue ttc mr2 b white br--right br1 h2 pa1">
                    <a class="">{{ item.category.name }}</a>
                </div>

            </div>
        {% endfor %}
    </article>

{% endblock %}
