<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://unpkg.com/ace-css/css/ace.min.css" rel="stylesheet">
</head>
<body>

<header class="white bg-gray bg-cover bg-center"
        style="background-image: url(https://d262ilb51hltx0.cloudfront.net/max/2000/1*DZwdGMaeu-rvTroJYui6Uw.jpeg)">
    <nav class="clearfix white">
        <div class="sm-col">
            <a href="/" class="btn py2">Home</a>
            <a href="/" class="btn py2">...</a>
            <a href="/" class="btn py2">...</a>
        </div>
        <div class="sm-col-right">
            <a href="/" class="btn py2">Login</a>
        </div>
    </nav>
    <div class="center px2 py4">
        <h1 class="h00 h0-responsive caps mt4 mb0 regular">Hamburgers</h1>
        <p class="h3">Artisinal ground chuck creations</p>
        <a href="#" class="h3 btn btn-outline mb4">ADD ITEM</a>
    </div>

</header>

<main class="container px2">
    {% block main %}
    {% endblock %}
</main>

<footer class="white bg-black"
        style="background-image: url(https://d262ilb51hltx0.cloudfront.net/max/2000/1*DZwdGMaeu-rvTroJYui6Uw.jpeg);">
    <div class="px2 py3 container">
        <p class="h6 center">&copy; 2017 Kevin Lazich</p>
    </div>
</footer>

</body>
</html>