<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <style type="text/css">
        header, footer {
            background-image: url(https://d262ilb51hltx0.cloudfront.net/max/2000/1*DZwdGMaeu-rvTroJYui6Uw.jpeg);
        }
    </style>
</head>
<body>

<header>
</header>

<article>
    {% block main %}
    {% endblock %}
</article>

<footer>
</footer>

</body>
</html>