<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">#}
    {#    <link href="https://fonts.googleapis.com/css?family=Karla|Space+Mono" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


<header class="bg-black-50 w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
    <nav class="f6 fw6 ttu tracked">
        <a class="link dim near-white dib mr3" href="#" title="Home">Home</a>
        <a class="link dim near-white dib mr3" href="#" title="About">About</a>
        <a class="link dim near-white dib mr3" href="#" title="Store">Store</a>
        <a class="link dim near-white dib" href="#" title="Contact">Contact</a>
    </nav>
</header>


<main class="cf w-100 w-90-m w-80-l center ph3 pv5">
    <div class="fl w-50 w-third-m w-25-ns pa2">
        <article class="mw6 hidden ba">
            <h1 class="f4 bg-near-black near-white mv0 pv2 ph3">Title of card</h1>
            <ul class="list ph1">
                <li class="dib mr1 mb2">
                    <a href="#" class="f6 b db pa2 link dim dark-gray ba b--black-20">Abyssinian</a>
                </li>
                <li class="dib mr1 mb2">
                    <a href="#" class="f6 b db pa2 link dim dark-gray ba b--black-20">Aegean</a>
                </li>
                <li class="dib mr1 mb2">
                    <a href="#" class="f6 b db pa2 link dim dark-gray ba b--black-20">Arabian</a>
                </li>
            </ul>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2">
        <article class="center mw5 mw6-ns hidden ba">
            <h1 class="f4 bg-near-black white mv0 pv2 ph3">Title of card</h1>
            <div class="pa3 bt">
                <p class="f6 f5-ns lh-copy measure mv0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <article class="center mw5 mw6-ns hidden ba">
            <h1 class="f4 bg-near-black white mv0 pv2 ph3">Title of card</h1>
            <div class="pa3 bt">
                <p class="f6 f5-ns lh-copy measure mv0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <article class="center mw5 mw6-ns hidden ba">
            <h1 class="f4 bg-near-black white mv0 pv2 ph3">Title of card</h1>
            <div class="pa3 bt">
                <p class="f6 f5-ns lh-copy measure mv0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <article class="center mw5 mw6-ns hidden ba">
            <h1 class="f4 bg-near-black white mv0 pv2 ph3">Title of card</h1>
            <div class="pa3 bt">
                <p class="f6 f5-ns lh-copy measure mv0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <article class="center mw5 mw6-ns hidden ba">
            <h1 class="f4 bg-near-black white mv0 pv2 ph3">Title of card</h1>
            <div class="pa3 bt">
                <p class="f6 f5-ns lh-copy measure mv0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </article>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0009.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0010.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0011.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0012.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0013.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0014.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0015.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0016.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0017.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0018.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0019.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0020.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0021.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
    <div class="fl w-50 w-third-m w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--5x8">
            <img style="background-image:url(http://mrmrs.github.io/images/0022.jpg);"
                 class="db bg-center cover aspect-ratio--object"/>
        </div>
    </div>
</main>

<footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
    <a href="mailto:" class="link b f3 f2-ns dim black-70 lh-solid">dev@kevinlazich.com</a>
    <p class="f6 db b ttu lh-solid">© 2017 Kevin Lazich</p>
    <div class="mt5">
        <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Language</a>
        <a href="/terms/" title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
        <a href="/privacy/" title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
    </div>
</footer>

</body>
</html>