<div class="flex items-center justify-center pv2">

    <a class="no-underline near-black bg-animate bg-near-white hover-bg-gray inline-flex items-center ma2 tc br2 pa2"
       href="{{ url_for('auth.oauth2_authorize', provider='google') }}"
       title="Google Login">
        <img src="{{ url_for("static", filename="google.svg") }}"
             class="dib h2 w2">
        <span class="f5 ml3 pr2">Google</span>
    </a>

    <a class="no-underline near-black bg-animate bg-near-white hover-bg-gray inline-flex items-center ma2 tc br2 pa2"
       href="{{ url_for('auth.oauth2_authorize', provider='facebook') }}"
       title="Facebook Login">
        <img src="{{ url_for("static", filename="facebook.svg") }}"
             class="dib h2 w2">
        <span class="f5 ml3 pr2">Facebook</span>
    </a>

</div>
