{% extends 'base.html' %}

{% block content -%}
    <div class="flex items-center justify-center pa4">

        <a href="{{ url_for('auth.oauth2_authorize', provider='google', next=session.next) }}"
           class="flex flex-column items-center link dim bg-white-20 white pa5 ma6 w5 h5 br2">
            <i class="fa fa-google fa-5x" aria-hidden="true"></i>
            <h2 class="f2 pa0 ma0 mt3">Google</h2>
        </a>

        <a href="{{ url_for('auth.oauth2_authorize', provider='facebook', next=session.next) }}"
           class="flex flex-column items-center link dim bg-white-20 white pa5 ma6 w5 h5 br2">
            <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
            <h2 class="f2 pa0 ma0 mt3">Facebook</h2>
        </a>

    </div>
{%- endblock %}