{% macro content_heading(title, color='bg-black') %}
    <h1 class="f1 lh-title {{ color }} ttc white pl3 mb2">{{ title }}</h1>
{% endmacro %}

{#  ITEM CONTENT BOXING  #}

{% macro item_title(item) -%}
    <a href="{{ url_for('home.show_item', category_slug=item.category.slug, item_slug=item.slug) }}"
       class="f6 link dim flex items-center bg-near-black near-white pa2">
        <span class="ttc b">{{ item.title }}</span>
    </a>
{%- endmacro %}

{% macro item_category(item) -%}
    <a href="{{ url_for('home.show_category', category_slug=item.category.slug) }}"
       class="f6 link dim flex items-center bg-mid-gray near-white pa2">
        <span class="ttc b">{{ item.category.name }}</span>
    </a>
{%- endmacro %}

{% macro item_user(item) -%}
    <a href="{{ url_for('home.show_categories') }}"
       class="f6 link dim flex items-center bg-silver white pa2">
        <span class="ttc ">{{ item.user.name }}</span>
    </a>
{%- endmacro %}

{% macro item_time(item) -%}
    <div class="f7 flex items-center pa2 ml-auto">
        <a class="link code ttu gray">{{ item.date_updated | format_date }}</a>
    </div>
{%- endmacro %}

{% macro show_item(item, title=True, category=False, user=False, time=False, height=None) -%}
    <div class="flex flex-auto justify-start bg-light-gray h{{ height }}">

        {% if title %}{{ item_title(item) }}{% endif %}
        {% if category %}{{ item_category(item) }}{% endif %}
        {% if user %}{{ item_user(item) }}{% endif %}
        {% if time %}{{ item_time(item) }}{% endif %}

    </div>
{%- endmacro %}
