{% extends "read_category.html" %}

{% block item_description -%}
    <article class="flex flex-column bl b--light-blue bw4 mb4">

        <h1 class="f1 flex flex-auto items-center serif silver tracked-tight ttc tl pl4 pb3 pr4 mv0">
            <span class="light-red mr3">{{ item.category.name }}</span>
            <i class="fa fa-long-arrow-right mr3" aria-hidden="true"></i>
            <span class="light-green mr5">{{ item.name }}</span>
        </h1>

        <p class="lh-copy measure-wide white-70 pl4">
            {{ item.description }}
        </p>

        {% if session.logged_in and item.user == session.user.name %}

            <div class="f7 ttu tracked pl4">
                <a href="#" class="dib dim link blue pa1 mr3 ba br1 tc">Edit</a>
                <a href="#" class="dib dim link blue pa1 mr3 ba br1 tc">Delete</a>
            </div>

        {% endif %}

        <p class="code white-40 pl4 mb2">Created by <span class="purple">
            {{ item.user.name }}</span> on <span class="">{{ item.date_updated }}</span>
        </p>


    </article>
{%- endblock %}