{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_1 -%}
    <article class="flex flex-auto items-start nl1">

        <div class="flex flex-wrap">
            {% for c in g.categories %}

                {% if g.category and g.category.name == c.name %}
                    {% set style = 'near-white bb b--light-red bw2' %}
                {% elif g.category and g.category.name != c.name %}
                    {% set style = 'mid-gray' %}
                {% else %}
                    {% set style= 'near-white' %}
                {% endif %}

                <h1 class="f2 lh-title tracked-tight ttc pa1 mr3 ma0">
                    <a class="link dim {{ style }}"
                       href="{{ url_for('category.read', category_id=c.id) }}">
                        {{ c.name }}
                    </a>
                </h1>

            {% endfor %}
        </div>

    </article>
{%- endblock %}
