{% extends "read_categories.html" %}

{% block title %}{{ category.name | title }}{% endblock %}

{% block content_2 -%}
    <article class="flex flex-auto items-center pt2 nl1 mw8">

        <div class="flex flex-wrap serif">
            {% for i in category.items %}

                {% if item and item.name == i.name %}
                    {% set style = 'near-white bb b--light-green bw2' %}
                {% elif item and item.name != i.name %}
                    {% set style = 'mid-gray' %}
                {% else %}
                    {% set style = 'near-white' %}
                {% endif %}

                <h1 class="f4 tracked-tight ttc normal pa1 mr3 ma0">
                    <a class="link dim {{ style }}"
                       href="{{ url_for('read.read_item', category_slug=i.category.slug, item_slug=i.slug) }}">
                        {{ i.name }}
                    </a>
                </h1>

            {% endfor %}
        </div>

    </article>
{%- endblock %}
