{% extends "base.html" %}

{% block categories -%}
    <article class="flex flex-wrap">
        <h1 class="f1 tracked-tight ttc tr pa1 ma0 w-25">Categories
            <i class="fa fa-long-arrow-right light-blue mh3" aria-hidden="true"></i>
        </h1>
        <div class="flex flex-wrap items-end bl pa2 w-75">
            {% for category in all_categories -%}
                <h1 class="f2 tracked-tight ttc pa1 mr4 ma0">
                    <i class="fa fa-angle-right light-red" aria-hidden="true"></i>
                    <a class="link white" href="{{ url_for('home.show_category', category_slug=category.slug) }}">{{ category.name }}</a>
                </h1>
            {%- endfor %}
        </div>
    </article>
{%- endblock %}

