{% extends "base.html" %}

{% block content %}

    <h1 class="f1 ttu tracked-mega near-black tc">Categories & Items</h1>

    {% for category in categories %}

        <article class="fl mv4 tc">

            <h2 class="fl f-subheadline ttc tracked-tight near-black hover-blue pa2 ma0">
                <a class="link near-black hover-blue"
                   href="{{ url_for('home.show_category', category_slug=category.slug) }}">
                    {{ category.name }}</a></h2>

            {% for item in category.items -%}
                <a class="f7 link dib bg-animate bg-light-gray hover-bg-blue lh-solid ttu tracked code b hover-white gray ma1 pa2 br1"
                   href="{{ url_for('home.show_item', category_slug=category.slug, item_slug=item.slug) }}">{{ item.title }}</a>
            {%- endfor %}

        </article>

    {% endfor %}

{% endblock %}
