{% extends "base.html" %}

{% block content %}

    <a class="link" href="{{ url_for('home.show_categories') }}">back</a>
    <h1 class="f-headline ttc b near-black ma0">{{ category.name }} Items</h1>

    <article class="flex flex-column mv4 tc">
        {% for item in category.items -%}
            <a class="f7 link dib bg-animate bg-light-gray hover-bg-blue lh-solid ttu tracked code b hover-white gray ma1 pa2 br1"
            >{{ item.title }}</a>
        {%- endfor %}
    </article>

{% endblock %}