{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}

    <article class="w-60  mt4 ba b--moon-gray">

        {#        {{ macros.content_heading(item.title, color='bg-blue') }}#}
        <h1 class="f1 lh-title ttc dark-gray pa4 ma0 bl b--moon-gray bw4">{{ item.title }}</h1>

        <div class="">
            {{ macros.show_item(item, title=False, category=True, user=True, time=True, height=2) }}
        </div>
        <p class="f4 dark-gray measure-wide indent lh-copy pa3 tj bl b--gray bw4">{{ item.description }}</p>

    </article>

{% endblock %}