@import "tachyons.css";

.sans-serif {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.serif {
    font-family: "Playfair Display", georgia, times, serif;
}

.mont {
    font-family: "Montserrat", sans-serif;
}

code, .code {
    font-family: "Inconsolata", Consolas, monaco, monospace;
}

body {
    font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

* {
    box-sizing: border-box
}
