<aside id="flash" class="center mw9 ph4">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flex flex-column items-start ph0">
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        {% set color = 'blue' %}
                        {% macro icon() %}<i class="fa fa-info-circle" aria-hidden="true"></i>{% endmacro %}
                    {% elif category == 'debug' %}
                        {% set color = 'yellow' %}
                        {% macro icon() %}<i class="fa fa-question-circle" aria-hidden="true"></i>{% endmacro %}
                    {% elif category =='error' %}
                        {% set color = 'red' %}
                        {% macro icon() %}<i class="fa fa-exclamation-circle" aria-hidden="true"></i>{% endmacro %}
                    {% endif %}
                    <div class="flex items-center justify-center pt1 ma1 {{ color }}">
                        {{ icon() }}
                        <span class="lh-title ml3">{{ message }}</span>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <div class="h3"></div>
        {% endif %}
    {% endwith %}

</aside>