<footer id="footer" class="flex flex-auto items-center justify-center pt6 pb5 ph4 center bg-white-10">
    <div class="flex flex-column w-100 mw9 ph3 b--white-10 bw4">
        <a href="https://kevinlazich.com" class="dim mw4"><img src="{{ url_for('static', filename='logo.png') }}" class="w4 pb2"></a>
        <a href="mailto:dev@kevinlazich.com" class="link b f3 f2-ns dim white lh-solid mw5">dev@kevinlazich.com</a>
        <p class="f6 db b ttu white-70 lh-solid mb0">© 2017 Kevin Lazich</p>
    </div>
</footer>
