<nav class="flex flex-auto items-center h2 mw9 center mv3">

    {% if not request.url == request.url_root.strip('/') + url_for('auth.login') %}
        <a href="{{ url_for('auth.logout', test=True) if session.logged_in else url_for('auth.login') }}"
           class="f7 dim ttu tracked dib link near-white pa2 mr3 ba">
            {{ 'logout' if session.logged_in else 'login' }}
        </a>
    {% endif %}

    {% if session.logged_in %}
        <a href="{{ url_for('create.create_item') }}"
           class="f7 dim ttu tracked dib link green pa2 mr3 ba">New Item</a>
    {% endif %}

    {% if request.args.get('logging_in') %}
        <p class="white">{{ request.url }}</p>
        <p class="white">{{ url_for('auth.login') }}</p>
        {% include 'login.html' %}
    {% endif %}

    <aside id="flash" class="f6 ttu b tracked pl3">
        <ul class="list flex flex-wrap ph0 mv0">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for type, message in messages %}

                        {% if   type == 'info' %}   {% set color = 'blue' %}
                        {% elif type == 'error' %}   {% set color = 'red' %}
                        {% else %}   {% set color = 'yellow' %}
                        {% endif %}

                        <h6 class="f7 normal mv1 mh2 {{ color }}">
                            <i class="fas fa-bullhorn" aria-hidden="true"></i>
                            <span class="ml2">{{ message }}</span>
                        </h6>

                    {% endfor %}
                {% endif %}
            {% endwith %}
        </ul>
    </aside>
</nav>

